# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Training artifacts
checkpoints/
wandb/
logs/

# Data
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db