# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
.env

# Build / package metadata
*.egg-info/
*.dist-info/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Training artifacts
checkpoints/
wandb/
logs/
outputs/

# Data
data/raw/
data/processed/
data/_dummy/
data/visual_news/
data/news_clippings/

# OS files
.DS_Store
Thumbs.db